<div class="text-center">
    <form name="form1" method="post" action="/Nibo/ReadOfx" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <h2>Nibo Full-Stack Developers Challenge - Level 2</h2>
            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="col-md-4">
                <input name="ofx1" type="file"  accept=".ofx" />
            </div>
            <div class="col-md-4">
                <input name="ofx2" type="file" accept=".ofx" />
            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-success" value="Importar" />
            </div>
        </div>
    </form>
</div>

